*.iml
.gradle
/gradle.properties
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.project
.settings/
demo/.classpath
demo/.project
demo/.settings/
library/.classpath
library/.project
library/.settings/
